h1 {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}

body { padding: 0 20px; }

.content {
  margin: 0 auto;
}

#current-song {
  background: #fff;
  color: #333;
}

#current-song:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}


#current-song .cover {
  height: 150px;
  float: left;
}

#current-song .description {
  padding: 20px 30px 30px 30px;
  margin-left: 150px;
}

#current-song .playing { color: #000;}

#current-song .title {
  margin-top: 10px;
  font-size: 18px;
}
#current-song .artist, #current-song .album {
  margin-top: 10px;
  font-size: 14px;
}



#playlist {
  margin: 20px 0 0 0; 
  /*border: 1px solid #ccc;*/
}
#playlist .song {
  padding: 10px;
  /*border-top: 1px solid #ddd;
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);*/
  background: #fff;
  margin-bottom: 4px;
  text-align: left;
  height: 30px;
}

#playlist { 
  text-align: left; 
  color: #000;
}


#playlist p {
  margin-top: 2px;
  margin-bottom: 2px;
}
#playlist .title{
  font-weight: bold;
  display: block;
  position: relative;
}
#playlist .artist, #playlist .description {
  display: inline;
}
#playlist .artist:after {
  content: " - ";
}
#playlist .votes {
  display: block;
  float: right;
  font-weight: normal;
  
  background: #D7D7D7;
  width: 50px;
  height: 50px;
  margin: -10px -10px -10px 0;
  text-align: center;
  font-size: 25px;
  line-height: 51px;
  color: #777;
}
